<!-- Footer -->
<div id="footer" class="page-footer text-center navbar-light bg-dark fixed-bottom">

  <!-- Footer Elements -->
  <div class="mb-6 container">
      <br>
      <div class="logos">
          <!-- Facebook -->
          <a href="#" class="fb-ic">
            <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x" style="font-size:24px;color:rgb(112, 112, 211)"> </i>
          </a>
          <!-- Twitter -->
          <a href="#" class="tw-ic">
            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x" style="font-size:24px;color:rgb(131, 195, 224)" > </i>
          </a>
          <!-- Google +-->
          <a href="#" class="gplus-ic">
            <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x" style="font-size:24px;color:red"> </i>
          </a>
          <!--Linkedin -->
          <a href="#" class="li-ic">
            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x" style="font-size:24px;color:rgb(22, 17, 87)"> </i>
          </a>
          <!--Instagram-->
          <a href="#" class="ins-ic">
            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x" style="font-size:24px;color:rgb(91, 85, 177)"> </i>
          </a>
          <!--Youtube-->
          <a href="#" class="you-ic">
            <i class="fa fa-youtube fa-lg white-text fa-2x" style="font-size:24px;color:red"> </i>
          </a>
      </div>
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: antiquewhite">© 2018 Copyright:
    <a href="#">faistoncine.com</a>
  </div>
  <!-- Copyright -->

</div>
<!-- Footer -->