<!-- <div class="card">
  <div class="card-content"> -->
<div class="col-sm-12">
    <form (ngSubmit)="spamDetector()">
      <div class="form-group">
        <label class="sr-only" for="comment">My comment</label>
        <textarea id="comment" class="col-sm-12" rows="3" placeholder="My comment" [(ngModel)]="commentaire.text" name="commentaire">
        </textarea>
        <input type="submit" value="Ajouter le commentaire" class="col-3 align-top btn btn-primary">
      </div>
    </form>
</div>
  <!-- </div>
</div> -->
